@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron">
    <h1>Nmicros Test</h1>
</div>
<div class="row">
    <div class="col-md-5">
        <h2>Welcome to NmicrosTest web portal</h2>
        <p>
            Nmicros Test is a simple application that has Three features(Students Feature, Courses Feature,
            and Enrollment Feature).
        </p>
    </div>
    <div class="col-md-5">
        <h2>How it works</h2>
        <p>
            Nmicros Test Enables you to retrieve
            a list of records of Students, Courses, and Enrollments from a database, 
            display the details of the individual records and enable editing/updating
            and deleting of the records.
        </p>
        
    </div>    
</div>